@charset "UTF-8";

* { box-sizing: border-box; }
body { margin: 0; padding: 20px; }
#header {
	height: 100px;
}
#header > button {	/* 로그인 */
	font-size: 20px; 
	cursor: pointer; 
	margin: 25px 1375px 0 0;
}
#header > div { 
	font-size: 40px; 
	font-weight: bold;
	margin-top: 30px;
}
table { 
	border-collapse: collapse; 
	width: 500px; 
	text-align: center;
	margin-bottom: 50px;
}
th, td { border: 1px solid black; padding: 2px; }
.btn_modify, .btn_delete { cursor: pointer; }
#scheduler > div {
	font-size: 40px; 
	font-weight: bold;
	margin-bottom: 20px;
}
#scheduler > button { font-size: 16px; cursor: pointer; }
.fl { float: left; }
.fr { float: right; }