@charset "UTF-8";

* { box-sizing: border-box; }
body { margin: 0; padding: 20px; }
#header { height: 100px; }
#header > div:nth-child(1) {
	font-size: 30px;
	font-weight: bold;
	margin-top: 15px;
}
#header > div:nth-child(2) { font-size: 17px; font-weight: 700; }
#header button { cursor: pointer; }
#header2 {
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	margin-left: 400px;
}
#main {
	display: flex;
	justify-content: center;
	gap: 10px;
}
#main > div > div:nth-child(2) { width: 130px; margin: 0 auto; }
#main img { cursor: pointer; }
#ad {
	border: 1px solid lightgray;
	margin: 85px 390px 0 0;
	cursor: pointer;
}
.fl { float: left; }
.fr { float: right; }